.page_footer
    .page_footer_content
        .info
            .info__copyright
                p Copyright  2016. TEZ TOUR DMCC.
                    span.note All rights reserved.
                p Site development -
                    a(href="http://www.telemark-it.ru/") Telemark

            .info__contact
                p.phone
                    span +971 4 361 21 00
                p.email
                    span
                        a(href="mailto:info@dubai.tez-tour.com") info@dubai.tez-tour.com
