.page_header
    .page_header_content
        a.nav_link(href="/")
            img.logo(src="/images/logo.png")

        .main_menu
            .trigger
            ul.items
                li.item
                    a.nav_link.main_menu__link(href="#about") About us
                li.item
                    a.nav_link.main_menu__link(href="#partners") Partners
                li.item
                    a.nav_link.main_menu__link(href="#community") Web Community
                li.item
                    a.nav_link.main_menu__link(href="#codex") Corporate Codex
                li.item
                    a.nav_link.main_menu__link(href="#contact") Contact
                li.main_menu__marker.outside
