section.section.section--about#section_about
    .section_head.out
        h2.section_head__header TEZ TOUR Dubai Multi Commodities Center
        p.section_head__subheader is a global tour operator operates under the same globally registered commercial brand TEZ TOUR
    .section_content.out
        .section_content_inner
            ul.description_list
                li.description_list__item.description_list__item--1 The main target of the company is providing and extending the highest service levels by creating a suitable, comfortable & professional environment for our clents worldwide.
                li.description_list__item.description_list__item--2 Selecting the partners is one of the greatest factors for reaching the expected results.
                li.description_list__item.description_list__item--3 Well, our priority always is the client, We always do our level best to meet the clients’ expectations.
            .card.card-block
                | TEZ TOUR DMCC with its all methods and policies prove its slogan
                strong Advanced Tourism Technology
