section.section.section--codex#section_codex
    .section_head
        h2.section_head__header TEZ TOUR DMCC Corporate Codex
        p.section_head__subheader The main inputs of the corporate codex of TEZ TOUR DMCC is the following:

    .section_content
        .codex_tiles
            .tile.tile--customer
                .tile_content
                    h4.tile_content__header Customer
            .tile.tile--enthusiasm
                .tile_content
                    h4.tile_content__header Enthusiasm and passion
            .tile.tile--decency
                .tile_content
                    h4.tile_content__header Decency
            .tile.tile--proffesionalism
                .tile_content
                    h4.tile_content__header Professionalism
            .tile.tile--teamwork
                .tile_content
                    h4.tile_content__header Teamwork and collaboration
