section.section.section--codex#section_codex
    .section_head.out
        h2.section_head__header TEZ TOUR DMCC Corporate Codex
        p.section_head__subheader The main inputs of the corporate codex of TEZ TOUR DMCC is the following:

    .section_content.out
        .codex_tiles
            .tile.tile--customer
                .tile_content.tile_out
                    .tile_content__placeholder
                        h4.tile_content__header Customer
                    .tile_content__overlay
                        h5.tile_content__overlay_header Customer
                        p The main target of TEZ TOUR DMCC is the customers' satisfaction and each and every employee's priority is the customer and satisfying the customer's needs and requirements is on our top of list to do.
            .tile.tile--enthusiasm
                .tile_content.tile_out
                    .tile_content__placeholder
                        h4.tile_content__header Enthusiasm and passion
                    .tile_content__overlay.alter
                        h5.tile_content__overlay_header Enthusiasm and passion to our business
                        p We encourage innovation, focus on success, dedication and creativity approach.
                        p We believe the Company, are proud of our brands, products and services.
            .tile.tile--decency
                .tile_content.tile_out
                    .tile_content__placeholder
                        h4.tile_content__header Decency
                    .tile_content__overlay
                        h5.tile_content__overlay_header Decency
                        p We do strongly believe that the success's key id: The Trust. The mutual trust between the employer, employees and customers is the key of any success from our point of view. We strongly encourage the mutual honestly, trust and respect between all parties.
            .tile.tile--proffesionalism
                .tile_content.tile_out
                    .tile_content__placeholder
                        h4.tile_content__header Professionalism
                    .tile_content__overlay.alter
                        h5.tile_content__overlay_header Professionalism
                        p We highly appreciate the real professionals each in their fields which improves their skills, experiences and abilities for increasing their productivity for the company and for helping the company to reach its main target which is: the customers's satisfaction
                        p The company always welcomes the new ideas which could lead to better results for reaching the perfection. When we make decisions, we do rely on the proper analysis and deep studies for implementing and building the best and most suitable decisions.
            .tile.tile--teamwork
                .tile_content.tile_out
                    .tile_content__placeholder
                        h4.tile_content__header Teamwork and collaboration
                    .tile_content__overlay
                        h5.tile_content__overlay_header Teamwork and collaboration without boundaries
                        p Our main strenth point is: The Team. TEZ TOUR Team !!! like-minded people united by the moral and ethical standards, common goals, aspirations, and the pace of development, which is capable of professionally and efficiently to achieve strategic objectives.
