section.section.section--community#section_community
    .section_head
        h2.section_head__header Web Community
        p.section_head__subheader TEZ TOUR DMCC has its partners worldwide and TEZ TOUR DMCC is doing its level best to grow and to invest in different destinations extending its highest level of service for its customers
