section.section.section--community#section_community
    .section_container
        .section_head.out
            h2.section_head__header Web Community
            p.section_head__subheader TEZ TOUR DMCC has its branded partners worldwide and TEZ TOUR DMCC is doing its level best to grow and to invest in different destinations extending its highest level of service for its customers
        .community_list
            .owl-carousel#community-carousel
                .slide
                    .slide__content
                        img(src="/images/community/ru.png")
                        h6 Russia
                        a(href="http://www.tez-tour.com") www.tez-tour.com
                .slide
                    .slide__content
                        img(src="/images/community/lv.png")
                        h6 Latvia
                        a(href="http://www.teztour.lv") www.teztour.lv
                .slide
                    .slide__content
                        img(src="/images/community/bg.png")
                        h6 Bulgaria
                        a(href="http://www.teztour.bg") www.teztour.bg
                .slide
                    .slide__content
                        img(src="/images/community/ro.png")
                        h6 Romania
                        a(href="http://www.tez-tour.ro") www.tez-tour.ro
                .slide
                    .slide__content
                        img(src="/images/community/eks.png")
                        h6 Excursions
                        a(href="http://www.tezeks.com") www.tezeks.com