section.section.section--contact#section_contact
    .section_container
        .section_head.out
            h2.section_head__header Contact
            p.section_head__subheader TEZ TOUR DMCC. License Number: JLT-69288

        .section_content.out
            .info
                .info__address
                    .content
                        h4 Address
                        dl
                            dt Country:
                            dd United Arab Emirates
                            dt Emirate:
                            dd Dubai
                            dt Area:
                            dd Jumeirah Lakes Towers
                            dt Cluster:
                            dd X Cluster
                            dt Tower:
                            dd X3 Tower
                            dt Office Number:
                            dd 2603
                            dt Telephone:
                            dd +971 4 361 21 00
                            dt Fax:
                            dd +971 4 443 36 37
                .info__person
                    .content
                        h4 The contact person:
                        dl
                            dt Capacity:
                            dd General Manager
                            dt Name:
                            dd Ramy Aziz
                            dt Mail:
                            dd
                                a(href="mailto:info@dubai.tez-tour.com") info@dubai.tez-tour.com
                            dt Telephone:
                            dd +971 4 361 21 00
    .map#map
