section.section.section--partners#section_partners
    .section_head.out
        h2.section_head__header TEZ TOUR DMCC Partners
        p.section_head__subheader TEZ TOUR DMCC is a global tour operator operates under the same globally registered commercial brand TEZ TOUR and our partners have been selected from different sectors in the travel & tourism field worldwide.

    .section_content.out
        .info
            .info__text
                p TEZ TOUR DMCC strongly believes that the backbone of any business organization is the strength of the partnership with the existing and potential partners.
                p TEZ TOUR DMCC selects its partners on the very accurate basis and based on very accurate, sharp and serious parameters for achieving together the planned target which is: The customers’ satisfaction.
            .info__image
                img(src="/images/partners.jpeg")

        .partner_list
            h4.partner_list__header Our main partners worldwide,
            p.partner_list__subheader including Avia Companies and International Hotels’ Chains such as:

            .owl-carousel#partners-carousel
                .slide
                    img(src="/images/partners/mariott.png")
                .slide
                    img(src="/images/partners/accor.png")
                .slide
                    img(src="/images/partners/four_seasons.png")
                .slide
                    img(src="/images/partners/hilton.png")
                .slide
                    img(src="/images/partners/jumeirah.png")

