section.section.section--codex#section_codex
    .section_head
        h2.section_head__header TEZ TOUR DMCC Corporate Codex
        p.section_head__subheader The main inputs of the corporate codex of TEZ TOUR DMCC is the following:
