section.section.section--showcase#section_showcase
    .section_head
        h1.section_head__header TEZ TOUR Dubai Multi Commodities Center
        p.section_head__subheader
            | is a global tour operator operates under the same globally registered
            br
            | commercial brand TEZ TOUR
