doctype html


head
    title Tez Tour
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,400,700&subset=latin,cyrillic', rel='stylesheet')
    link(rel="stylesheet", href="/styles/style.css")


body
    include ./sections/_showcase
    include ./sections/_about
    include ./sections/_partners
    include ./sections/_community
    include ./sections/_codex
    include ./sections/_contact

    script(src="/scripts/script.js")
