.section--partners
  background: url("/images/partnersBG.jpg") center no-repeat
  background-size: cover
  padding-bottom: 96px

  .section_head
    margin-bottom: 34px

  .info
    +make-row()
    font-size: 18px
    margin-bottom: 78px
    &__text
      +make-col()
      padding-top: 15px
      p
        line-height: 30px
        margin-bottom: 30px
    &__image
      @extend .hidden-sm-down
      img
        display: block
        width: 100%

    +media-breakpoint-up(md)
      &__text
        +make-col-span(7)
      &__image
        +make-col()
        +make-col-span(5)

  .partner_list
    background: transparentize(white, .2)
    text-align: center
    padding: 37px 20px
    &__header
      font:
        weight: 600
        size: 26px
    &__subheader
      font-size: 22px

    .iosslider
      position: relative
      top: 0
      left: 0
      overflow: hidden
      .slider
        +size(100%)
        .slide
          float: left
          +size(185px, 85px)
