.section--community
  background: url("/images/WebC_bg.gif") center no-repeat
  background-size: cover
  color: white
  padding-top: 18px
  padding-bottom: 90px
  .section_head__subheader
    color: $brand-secondary
