@keyframes next_link
  0%
    transform: translate(0, 0)
  50%
    transform: translate(0, -5px)


.section--showcase
  min-height: 100%
  background: #041032 url("/images/city_small.jpeg") center no-repeat
  +media-breakpoint-up(lg)
    background: #041032 url("/images/city.jpeg") center no-repeat
  background-size: cover

  .section_container
    display: table
    @extend %full-size
    &__inner
      display: table-cell
      vertical-align: middle

  .section_head
    color: white
    +media-breakpoint-up(sm)
      &__header
        font-size: 40px
        margin-bottom: 10px
        &:after
          margin-top: 12px
      &__subheader
        font-size: 26px
        line-height: 36px
    +media-breakpoint-up(lg)
      width: 64%
    +media-breakpoint-up(xl)
      &__header
        font-size: 50px
      &__subheader
        font-size: 34px
    +zoom_out()

  .next_section
    display: block
    +size(30px, 23px)
    background: url("/src/data-images/link_next.png") no-repeat
    position: absolute
    bottom: 21px
    left: 50%
    margin-left: -15px
    animation: next_link 1.3s ease infinite
